/* line 1, ../scss/Navigation.scss */
body {
  height: 100%;
}

<<<<<<< HEAD
/* ==========================================================================
This is the Navigation Style sheet.
========================================================================== */
.nav-container {
  display: none;
  background-color: #90B4B3;
  position: absolute;
  right: 0;
  width: 90%;
  height: 90%;
  opacity: .89;
  text-align: center;
  z-index: 2;
}
.nav-container li {
  border-bottom: solid 1px white;
  font-size: 1.2em;
}
.nav-container .navigation-button2 {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  border: solid 1px black;
}
.nav-container ul {
  padding: 0px;
  list-style: none;
}
.nav-container a {
  color: white;
=======
/* line 4, ../scss/Navigation.scss */
.body-of-content {
  min-height: 500px;
>>>>>>> 3ea3acc4076e8cb16a1c401b194b5698aa4c0929
}
