body{

	font-family:"Times New Roman";

}

img {

	height:90%;
	width:90%;

}

h2 {

	margin:2%;
	line-height:1.2em;

}

img {

	z-index:1;

}

p {

	text-indent:3em;

}

.content{

	margin-left:2.5%;
	margin-right:2.5%;


}

.img1s5 {

	height:50%;
	width:50%;
	margin-left:25%;

}

.img2s5 {
	float:right;
	margin:5%;
}

h3 {

	text-align:center;

}


